allow thermal-engine thermal_socket:sock_file { relabelfrom relabelto };

allow thermal-engine socket_device:sock_file create;
allow thermal-engine socket_device:sock_file { relabelfrom setattr };
